<div class="sign">
  <div class="sign-card">
    <h2 class="sign-title">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <label class="field"> 
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </label>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <%= render "devise/shared/links" %>

      <div class="actions">
        <%= f.submit "Sign up", class: "sign-button" %>
      </div>

      <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "button is-info is-rounded" do %>
        <i class="fab fa-twitter"></i>
        <span>twitterで登録</span>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "button is-rounded" do %>
        <i class="fab fa-google"></i>
        <span>googleで登録</span>
      <% end %>
      
    <% end %>
  </div>
</div>

