<%= render 'shared/header' %>

<%= render 'shared/sidebar' %>

<%= render 'users/upperbar' %>

<div class="tabs is-centered" id="tabs">
  <ul>
    <li><%= link_to "マイリスト", mylist_user_path(@user) %></li>
    <li class="is-active"><%= link_to "コメント", mycomment_user_path(@user) %></li>
    <li><%= link_to "いいね", myliked_user_path(@user) %></li>
  </ul>
</div>

<div class="mylist">
  <div id="modal-section"></div>
  <%= render partial: 'shared/post', collection: @posts %>
</div>

<%= paginate @posts %>

<%= render 'shared/footer' %>