<nav class="navbar is-black">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-item" do %>
      <h4 class="title is-4" id="header-logo">~とりコミュ~</h4>
    <% end %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <div class="navbar-item">
          <%= link_to "投稿する", new_post_path, class: "button is-warning", id: "header-button"%>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="field is-grouped">
            <%= link_to "メールで新規登録", new_user_registration_path, class: "button is-warning", id: "header-button" %>
            <span id="header-span">または</span>
            <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "button is-info", id: "header-icon" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "button", id: "header-icon" do %>
              <i class="fab fa-google"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link title is-5">
          種類一覧
        </a>

        <div class="navbar-dropdown">
          <% @categories.each do |category| %>
            <%= link_to "#{category.name}", category_path(category), class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%= form_with model: Post.new, url: search_posts_path, method: :get, local: :true do |f|  %>
          <div class="field has-addons">
            <div class="control">
              <%= f.text_field :keyword, class: "input is-small", placeholder: "キーワードを入力" %>
            </div>
            <div class="control">
              <%= button_tag type: 'submit', class: "button is-small is-warning" do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
        <% if user_signed_in? %>
          <p class="control">
            <%= link_to "ログアウト", destroy_user_session_path, class: "title is-6", id: "header-link", method: :delete %>
          </p>
          <p class="control">
            <%= link_to "マイページ", mylist_user_path(current_user.id), class: "title is-6", id: "header-link" %>
          </p>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "title is-6", id: "header-link" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
