<%= link_to post_path(post), class: "post-item" do %>
  <div class="post-card">
    <div class="post-image">
      <%= image_tag post.img.url %>
      <div class="post-content">
        <h2 class="post-title">
          <%= post.title.truncate(10) %>
        </h2>
        <div class="post-lower">
          <div class="post-user">
            <%= post.user.nickname %>
          </div>
          <span class="icon" id="post-icon">
            <i class="fa fa-heart"></i>
            <p class= "like"><%= post.likes.count %></p>
          </span>
          <span class="icon" id="post-icon">
            <i class="fas fa-comment-alt"></i>
            <p class= "like"><%= post.comments.count %></p>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>