<div class="sign">
  <div class="sign-card">
    <h2 class="sign-title">ユーザーログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "sign-button" %>
      </div>

      <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "button is-info is-rounded" do %>
        <i class="fab fa-twitter"></i>
        <span class="login-link">でログイン</span>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "button is-rounded" do %>
        <i class="fab fa-google"></i>
        <span class="login-link">でログイン</span>
      <% end %>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="actions">
        <%= f.submit "テストユーザーログイン", class: "sign-button" %>
        <%= f.hidden_field :email, {value: 'test@example.com'} %>
        <%= f.hidden_field :password , {value: '11111111'} %>
      </div>
    <% end %>
            
  </div>
</div>
