<div class="modal">
  <div class="modal-background">
    <button class="delete is-large" id="modal-del" aria-label="close"></button>
  </div>

  <div class="modal-card">
    <header class="card-header" id="modal-header">
      <h5 class="subtitle is-5">
        <%= link_to "#{post.user.nickname}", mylist_user_path(:user),id: "modal-user" %>
      </h5>
      <%= link_to edit_post_path(post.id), method: :get do %>
        <span class="icon" id="modal-icon">
          <i class="far fa-edit"></i>
        </span>
      <% end %>
      <%= link_to post_path(post.id), method: :delete, data: {confirm: "削除しますか？"} do %>
        <span class="icon" id="modal-icon">
          <i class="fas fa-trash"></i>
        </span>
      <% end %>
    </header>
    <section class="modal-card-body">
      <h3 class="modal-card-title subtitle is-3" id="modal-line">
        <%= post.title %>
      </h3>
  
      <% if post.img.present? %>
        <%= image_tag post.img.url, id: "modal-line" %>
      <% else %>
        <%= image_tag "https://bulma.io/images/placeholders/1280x960.png",  id: "modal-body" %>
      <% end %>
      <div class='field' id="modal-line">
        <p><%= simple_format(post.body) %></p>
      </div>

      <div class='field' id="modal-line">
        <h6 class="title is-6">【オススメの焼き鳥】</h6>
        <% @post.categories.each do |category| %>
          <p><%= category.name %></p>
        <% end %>
      </div>

      <div class='field' id="modal-line">
        <h6 class="title is-6">【店舗情報】</h6>
        <p><%= post.restaurant.name %></p> 
        <%= button_to "店舗詳細", "#{post.restaurant.url}", class: "button"%>
      </div>

      <div class="modal-comment">
        <%= form_for [@post, @comment] do |f| %>
          <div class="field">
            <div class="control">
              <textarea class= "textarea" id="dummy-area" placeholder="コメントを入力してください"></textarea>
              <div class="comment-error"></div>
              <div class="button is-warning" id="dummy-button">コメントする</div>
              <%= f.text_area :comment, id: "comment-area" %>
              <%= f.submit class: "button is-warning", id: "comment-button" %>
            </div>
          </div>
        <% end %>
        <div class="comment-index">
          <h6 class="title is-6">【コメント一覧】</h6>
            <% if @comments %>
              <% @comments.each do |comment| %>
                <p>
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.comment %>
                </p>
              <% end %>
            <% end %>
        </div>
      </div>
    </section>
  </div>
</div>