<div class="editpost">
  <div class="editpost-card">
    <h2 class="editpost-title">編集する</h2>
    <%= form_for @post do |f| %>
      <div class="field"> 
        <%= f.label :img %><br />
        <% if @post.img.present? %>
          <%= image_tag @post.img.url, id: "img_prev", onClick: "$('#post_img').click()" %>
        <% else %>
          <%= image_tag "https://bulma.io/images/placeholders/1280x960.png", id: "img_prev", onClick: "$('#post_img').click()" %>
        <% end %>
        <%= f.file_field :img, id: "post_img", style:"display:none;" %>
        <p><%= f.check_box :remove_img %>画像を削除する</p>
      </div>

      <div class="field"> 
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>

      <div class="field">
        <%= f.label :category %>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
          <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
          <% end %>
        <% end %>
      </div>

      <%= f.fields_for :restaurant, @post.restaurant || Restaurant.new do |p|%>  
        <div class="field">
          <input type="text" id="key" placeholder="キーワードを入力してください">
          <input type="button" id="search" value="検索">
          <ul id="ul">
            <li><%= @post.restaurant.name %></li>
          </ul>
          <%= p.hidden_field :name, id: "rest_name" %>
          <%= p.hidden_field :url , id: "rest_url" %>
        </div>
      <% end %>


      <div class="actions">
        <%= f.submit "変更する", class: "edit-button" %>
      </div>
      
    <% end %>
  </div>
</div>
