<%= render 'shared/header' %>

<%= render 'shared/sidebar' %>

<%= render 'shared/upperbar' %>

<%= render 'layouts/notifications' %>

<div class="contents">
  <%= render partial: 'shared/post', collection: @posts %>
</div>

<div id="modal-section"></div>

<%= paginate @posts %>

<%= render 'shared/footer' %>