<%= render 'shared/header' %>

<%= render 'shared/sidebar' %>

<%= render 'shared/upperbar' %>

<%= render 'layouts/notifications' %>

  <div class="contents">
    <div id="modal-section"></div>
    <%= render partial: 'shared/post', collection: @posts %>
  </div>

<%= paginate @posts %>

<%= render 'shared/footer' %>